# Lesson 4: Data Frames

Today: Working with data frames
+ The 'dplyr' package
+ Adding new columns (a second way)
+ Sorting rows
+ Filtering rows
+ Grouping data

## Working with columns and rows of data frames

Yesterday, you were introduced to the R package `datasets`, which contains some built-in data that we can explore right away without having to import from an outside source.  Today, we will work with another important R package, called `dplyr`.  Unlike `datasets` which contains data, the package `dplyr` contains tools that allow us to explore data.

To use `dplyr` for the first time on a jupyter notebook, you have to load it using the `library()` function.  (It's not automatically loaded like the `datasets` package.)

In [4]:
library('dplyr')

There are several important functions that come with the `dplyr` package:
+ `mutate()`
+ `arrange()`
+ `filter()`
+ `group_by()`
+ `summarize()`

### 1. The `mutate()` function

Last class, we saw one way to add a column to a data frame.

**Example**

(we will use the UC Berkeley 1973 Graduate Admission dataset again)

In [6]:
berkeleydata <- read.csv('../../shared/datasets/berkeley73.csv')

The `mutate()` function gives us a second way to do the same thing!

`mutate( DATAFRAMENAME, NEWCOLUMNNAME = FORMULA FOR THE NEW COLUMN IN TERMS OF EXISTING COLUMNS )`
+ inputs: a data frame and the name of the new column, with a formula for the entries in the new column in terms of existing column
+ output: a new data frame, obtained by adding the new column to the input data frame

In [7]:
berkeleydata$Men_AdmissionRate <- berkeleydata$Men_Admitted / berkeleydata$Men_Applicants
berkeleydata

  Department Men_Applicants Men_Admitted Women_Applicants Women_Admitted
1 A          825            512          108               89
2 B          560            353           25               17
3 C          325            120          593              202
4 D          417            138          375              131
5 E          191             53          393               94
6 F          373             22          341               24
  Men_AdmissionRate
1 0.62060606
2 0.63035714
3 0.36923077
4 0.33093525
5 0.27748691
6 0.05898123

In [11]:
berkeleydata <- mutate(  berkeleydata , Women_AdmissionRate = Women_Admitted / Women_Applicants    )

In [12]:
berkeleydata

  Department Men_Applicants Men_Admitted Women_Applicants Women_Admitted
1 A          825            512          108               89
2 B          560            353           25               17
3 C          325            120          593              202
4 D          417            138          375              131
5 E          191             53          393               94
6 F          373             22          341               24
  Men_AdmissionRate Women_AdmissionRate
1 0.62060606        0.82407407
2 0.63035714        0.68000000
3 0.36923077        0.34064081
4 0.33093525        0.34933333
5 0.27748691        0.23918575
6 0.05898123        0.07038123

### 2. The `arrange()` function

`arrange( DATAFRAMENAME, COLUMNNAME)` is used to **sort** the rows of a data frame based on the values in a particular column (ascending order).
+ inputs: a data frame and a column name in that data frame
+ output: a data frame that is sorted based on the values in the specified column

In [9]:
arrange( berkeleydata, Women_Applicants )

  Department Men_Applicants Men_Admitted Women_Applicants Women_Admitted
1 B          560            353           25               17
2 A          825            512          108               89
3 F          373             22          341               24
4 D          417            138          375              131
5 E          191             53          393               94
6 C          325            120          593              202
  Men_AdmissionRate
1 0.63035714
2 0.62060606
3 0.05898123
4 0.33093525
5 0.27748691
6 0.36923077

**Question**

Can we sort in **descending order**?  Yes!

`arrange( DATAFRAMENAME, desc(COLUMNNAME) )` is used to **sort** the rows of a data frame based on the values in a particular column (**descending order**).

In [10]:
arrange( berkeleydata, desc(Women_Applicants) )

  Department Men_Applicants Men_Admitted Women_Applicants Women_Admitted
1 C          325            120          593              202
2 E          191             53          393               94
3 D          417            138          375              131
4 F          373             22          341               24
5 A          825            512          108               89
6 B          560            353           25               17
  Men_AdmissionRate
1 0.36923077
2 0.27748691
3 0.33093525
4 0.05898123
5 0.62060606
6 0.63035714

**2-minute Group Exercise**

Import the NYC Dog Licenses dataset in the `shared/datasets` directory as an R data frame called `nyc_dogs`.  Then,
+ Use `arrange()` to sort the entries by `AnimalName` column, from A to Z
+ Sort by `AnimalName` from Z to A
+ Pick a column (your choice) and sort it either in descending or ascending order
+ Sort the entries by `AnimalName` column from A to Z, then by the `AnimalBirthMonth` column (which is actually birth year) in descending order

In [ ]:
nyc_dogs <- read.csv( )  # first, complete this line to import the dataset

### 3.  The `filter()` function

Suppose that we would like to only look at data of dogs of a particular breed.  We can filter the dataset using dplyr's `filter()` function.

`filter( DATAFRAMENAME, CRITERIA )`
+ inputs: the name of the data frame, and a criteria for which rows should be included
+ output: a data frame that only includes the rows that satisfies the given criteria

In what format should the criteria be?
+ An equality or inequality involving column name(s)

**Example**

Filter the `nyc_dogs` data frame to consist only of dogs whose breed is 'Poodle'

**Exploration**
1. Filter the `nyc_dogs` data frame to consist only of rows that correspond to dogs
    + who are male
    + who were born in 2010 or after <br><br>

2. How many rows in this dataset correspond to dogs who are male and were born in 2010 or after?

3. How many rows in this dataset correspond to dogs named 'OTIS'?  Do all these rows correspond to different dogs or the same dogs?  How about 'LUCY'?

4. What is the percentage of rows that correspond to female dogs?

### 4. `group_by()` and `summarize()`

The two functions above are usually used together when we want to get a summary information about a group of rows.

**Example**

For example, suppose that we would like to group the rows based on the dog's gender and count how many rows there are for each group.

We could do that using the `filter()` function above and the `dim()` function.

Here is a second way we can do it:
+ First group the rows by gender using `group_by()`
+ Count how many rows there are for each group using `summarize()`

`group_by( DATAFRAMENAME, COLUMNNAME)`
+ inputs: a data frame, along with the name of a categorical variable/column
+ output: a grouped data frame --- this data frame looks exactly the same as the input data frame (but internally, R has divide up this data based on the given categorical variable)

`summarize( DATAFRAMENAME, NEWSUMMARYCOLUMNNAME = AN AGGREGATE FUNCTION )`
+ inputs: a grouped data frame, along with what information we want summarized about each particular group
+ output: a summary data frame

+ Some of the aggregate function that we can use:
    + `n()`: to count the number of rows within each group
    + `mean( COLUMNNAME )`: to compute the average of `COLUMNNAME` within each group
    + `sum( COLUMNNAME )`: to compute the sum of `COLUMNNAME` within each group

**Example**

Group the rows based on the dog's birth year and count how many rows there are for each group.

**Exploration**

1. Group the rows based on the dogs' zipcode and count how many rows there are for each group
2. Group the rows based on the dogs' zipcode and by gender; count how many rows there are for each group
3. Suppose we assume that each dog appears only once in this dataset, and that each dog is still alive and well today.  Find the average age within each zipcode