# Lesson 4: Data Frames

Today: Working with data frames
+ The 'dplyr' package
+ Adding new columns (a second way)
+ Sorting rows
+ Filtering rows
+ Grouping data

## Working with columns and rows of data frames

Yesterday, you were introduced to the R package `datasets`, which contains some built-in data that we can explore right away without having to import from an outside source.  Today, we will work with another important R package, called `dplyr`.  Unlike `datasets` which contains data, the package `dplyr` contains tools that allow us to explore data.

To use `dplyr` for the first time on a jupyter notebook, you have to load it using the `library()` function.  (It's not automatically loaded like the `datasets` package.)

In [13]:
library('dplyr')

There are several important functions that come with the `dplyr` package:
+ `mutate()`
+ `arrange()`
+ `filter()`
+ `group_by()`
+ `summarize()`

### 1. The `mutate()` function

Last class, we saw one way to add a column to a data frame.

**Example**

(we will use the UC Berkeley 1973 Graduate Admission dataset again)

In [14]:
berkeleydata <- read.csv('../../shared/datasets/berkeley73.csv')

The `mutate()` function gives us a second way to do the same thing!

`mutate( DATAFRAMENAME, NEWCOLUMNNAME = FORMULA FOR THE NEW COLUMN IN TERMS OF EXISTING COLUMNS )`
+ inputs: a data frame and the name of the new column, with a formula for the entries in the new column in terms of existing column
+ output: a new data frame, obtained by adding the new column to the input data frame

In [15]:
# adding a new column called Men_AdmissionRate into the berkeleydata dataframe
#  this column is the Men_Admitted column divided by the Men_Applicants column

berkeleydata$Men_AdmissionRate <- berkeleydata$Men_Admitted / berkeleydata$Men_Applicants
berkeleydata

  Department Men_Applicants Men_Admitted Women_Applicants Women_Admitted
1 A          825            512          108               89
2 B          560            353           25               17
3 C          325            120          593              202
4 D          417            138          375              131
5 E          191             53          393               94
6 F          373             22          341               24
  Men_AdmissionRate
1 0.62060606
2 0.63035714
3 0.36923077
4 0.33093525
5 0.27748691
6 0.05898123

In [16]:
# A second way to add a new column: using the mutate() function
# adding a new column called Women_AdmissionRate into the berkeleydata dataframe
#  this column is the Women_Admitted column divided by the Women_Applicants column

berkeleydata <- mutate(  berkeleydata , Women_AdmissionRate = Women_Admitted / Women_Applicants    )

In [17]:
# Check

berkeleydata

  Department Men_Applicants Men_Admitted Women_Applicants Women_Admitted
1 A          825            512          108               89
2 B          560            353           25               17
3 C          325            120          593              202
4 D          417            138          375              131
5 E          191             53          393               94
6 F          373             22          341               24
  Men_AdmissionRate Women_AdmissionRate
1 0.62060606        0.82407407
2 0.63035714        0.68000000
3 0.36923077        0.34064081
4 0.33093525        0.34933333
5 0.27748691        0.23918575
6 0.05898123        0.07038123

### 2. The `arrange()` function

`arrange( DATAFRAMENAME, COLUMNNAME)` is used to **sort** the rows of a data frame based on the values in a particular column (ascending order).
+ inputs: a data frame and a column name in that data frame
+ output: a data frame that is sorted based on the values in the specified column

In [18]:
arrange( berkeleydata, Women_Applicants )

  Department Men_Applicants Men_Admitted Women_Applicants Women_Admitted
1 B          560            353           25               17
2 A          825            512          108               89
3 F          373             22          341               24
4 D          417            138          375              131
5 E          191             53          393               94
6 C          325            120          593              202
  Men_AdmissionRate Women_AdmissionRate
1 0.63035714        0.68000000
2 0.62060606        0.82407407
3 0.05898123        0.07038123
4 0.33093525        0.34933333
5 0.27748691        0.23918575
6 0.36923077        0.34064081

**Question**

Can we sort in **descending order**?  Yes!

`arrange( DATAFRAMENAME, desc(COLUMNNAME) )` is used to **sort** the rows of a data frame based on the values in a particular column (**descending order**).

In [19]:
arrange( berkeleydata, desc(Women_Applicants) )

  Department Men_Applicants Men_Admitted Women_Applicants Women_Admitted
1 C          325            120          593              202
2 E          191             53          393               94
3 D          417            138          375              131
4 F          373             22          341               24
5 A          825            512          108               89
6 B          560            353           25               17
  Men_AdmissionRate Women_AdmissionRate
1 0.36923077        0.34064081
2 0.27748691        0.23918575
3 0.33093525        0.34933333
4 0.05898123        0.07038123
5 0.62060606        0.82407407
6 0.63035714        0.68000000

**2-minute Group Exercise**

Import the NYC Dog Licenses dataset in the `shared/datasets` directory as an R data frame called `nyc_dogs`.  Then,
+ Use `arrange()` to sort the entries by `AnimalName` column, from A to Z
+ Sort by `AnimalName` from Z to A
+ Pick a column (your choice) and sort it either in descending or ascending order
+ Sort the entries by `AnimalName` column from A to Z, then by the `AnimalBirthMonth` column (which is actually birth year) in descending order

In [30]:
nyc_dogs <- read.csv('../../shared/datasets/NYC_Dog_Licensing_small.csv' )

arrange( nyc_dogs, AnimalBirthMonth, desc(AnimalName) )

     AnimalName        AnimalGender AnimalBirthMonth
1    SCRUFFY           F            1998
2    NELLY             M            1998
3    CODY              M            1998
4    MONDRIAN          M            1999
5    LUCKY             M            1999
6    JR                M            1999
7    JOEY              M            1999
8    JESSE             F            2000
9    HOMER             M            2000
10   HANK              M            2000
11   CHAIM             M            2000
12   BENJI             M            2000
13   AUGGIE            M            2000
14   SUGAR             F            2001
15   RILEY             F            2001
16   PRINCE            M            2001
17   MOCHA             F            2001
18   MICHAEL           M            2001
19   MAXSUKI           M            2001
20   MAXAMILLION       M            2001
21   MAX               M            2001
22   KSUSHA            F            2001
23   KING              M            2001
24   GEORGE            M            2001
25   FOXY              F            2001
26   CLEMENT           M            2001
27   CHA               F            2001
28   TYSON             M            2002
29   TROUPER           M            2002
30   SYDNEY            F            2002
...  ...               ...          ...
971  CHEWIE            M            2017
972  CESAR             M            2017
973  CAVALIER          M            2017
974  BUBBA             M            2017
975  BRANDY            F            2017
976  BOWERY            M            2017
977  BOOTZ             M            2017
978  BELLA             F            2017
979  BARACK            M            2017
980  BALOO             M            2017
981  BAILEY            F            2017
982  ATARI             M            2017
983  ZURI              F            2018
984  WESLEY            M            2018
985  UNKNOWN           M            2018
986  UNKNOWN           M            2018
987  TARO              F            2018
988  SYLVIA            F            2018
989  SPECKLES          F            2018
990  ROBLES            F            2018
991  REYES             F            2018
992  OLIVER            M            2018
993  NAME NOT PROVIDED F            2018
994  NAME NOT PROVIDED M            2018
995  NAME              F            2018
996  MAJOR             M            2018
997  LUPITA            F            2018
998  CRUZ              M            2018
999  ANNALEASE         F            2018
1000 NA                M            2018
     BreedName                       Borough ZipCode LicenseIssuedDate
1    Unknown                         NA      10312   12/11/2016
2    Unknown                         NA      10472   05/01/2015
3    Shetland Sheepdog               NA      11385   02/19/2016
4    Dachshund Smooth Coat Miniature NA      10465   09/20/2015
5    Unknown                         NA      11358   08/23/2015
6    Unknown                         NA      10312   06/08/2017
7    Poodle, Standard                NA      10016   08/25/2015
8    Unknown                         NA      10314   05/26/2016
9    Unknown                         NA      10128   02/01/2016
10   American Staffordshire Terrier  NA      10002   09/26/2016
11   Havanese                        NA      10022   07/31/2017
12   Silky Terrier                   NA      10314   08/25/2016
13   Unknown                         NA      10027   07/18/2016
14   Unknown                         NA      11378   05/28/2016
15   Labrador Retriever              NA      10312   09/16/2015
16   Unknown                         NA      10465   12/08/2015
17   Yorkshire Terrier               NA      11374   01/24/2017
18   Dachshund Smooth Coat           NA      10024   08/10/2018
19   Lhasa Apso                      NA      11368   02/20/2016
20   Cocker Spaniel                  NA      10312   07/31/2015
21   Dachshund Smooth Coat           NA      10304   05/31/2016
22   Shih Tzu                        NA      11228   07/13/2016
23   Shih Tzu                        NA      11215   02/19/2016
24   Labrador Retriever              NA      11230   10/21/2015
25   Unknown                         NA      11697   02/10/2016
26   Beagle                          NA      11215   02/12/2016
27   Bichon Frise                    NA      10301   03/06/2018
28   Unknown                         NA      11379   05/18/2017
29   Bichon Frise                    NA      10016   03/22/2016
30   Silky Terrier                   NA      11201   06/16/2015
...  ...                             ...     ...     ...
971  Shih Tzu Crossbreed             NA      11420   11/05/2017
972  Labrador Retriever Crossbreed   NA      11218   10/29/2017
973  Cavalier King Charles Spaniel   NA      10002   04/09/2018
974  Unknown                         NA      10312   09/13/2018
975  Shih Tzu                        NA      11228   06/28/2017
976  French Bulldog                  NA      11217   11/18/2017
977  Australian Shepherd             NA      10065   12/03/2018
978  Shiba Inu Crossbreed            NA      11365   10/16/2017
979  German Shepherd Dog             NA      11364   05/04/2018
980  Labradoodle                     NA      10019   04/28/2018
981  Unknown                         NA      10280   12/15/2018
982  Unknown                         NA      10314   03/27/2018
983  Bernese Mountain Dog            NA      10471   04/10/2018
984  Shiba Inu                       NA      11216   07/11/2018
985  Chihuahua Crossbreed            NA      10009   12/07/2018
986  Shiba Inu                       NA      10019   12/03/2018
987  French Bulldog                  NA      11101   08/29/2018
988  French Bulldog                  NA      10021   10/02/2018
989  Pointer                         NA      10467   11/21/2018
990  Yorkshire Terrier               NA      10314   06/16/2018
991  Pomeranian                      NA      10040   12/25/2018
992  Beagle                          NA      10306   04/22/2018
993  Morkie                          NA      11104   12/11/2018
994  Poodle Crossbreed               NA      11373   11/16/2018
995  Chihuahua                       NA      10306   12/27/2018
996  German Shepherd Dog             NA      10036   10/16/2018
997  Maltese                         NA      10025   08/20/2018
998  Yorkshire Terrier               NA      10029   12/07/2018
999  Doberman Pinscher               NA      11106   12/18/2018
1000 Puggle                          NA      11434   08/18/2018
     LicenseExpiredDate Extract.Year
1    10/31/2017         2016
2    03/01/2016         2016
3    01/30/2017         2016
4    08/30/2016         2016
5    08/30/2016         2016
6    07/30/2018         2018
7    06/29/2016         2016
8    04/29/2018         2018
9    02/28/2017         2016
10   10/30/2017         2016
11   07/31/2019         2018
12   10/18/2017         2017
13   07/30/2017         2017
14   04/29/2017         2017
15   09/29/2016         2016
16   11/29/2016         2016
17   02/08/2018         2018
18   08/30/2019         2018
19   03/30/2017         2017
20   06/29/2016         2016
21   03/29/2017         2017
22   08/30/2017         2016
23   03/30/2017         2016
24   10/03/2016         2016
25   03/30/2017         2017
26   03/30/2017         2016
27   02/28/2019         2018
28   05/31/2018         2018
29   03/22/2019         2016
30   06/01/2016         2016
...  ...                ...
971  11/05/2018         2017
972  10/29/2018         2018
973  05/30/2019         2018
974  09/13/2019         2018
975  06/28/2018         2017
976  11/18/2018         2017
977  12/03/2019         2018
978  10/16/2018         2017
979  05/04/2019         2018
980  04/28/2019         2018
981  12/15/2019         2018
982  03/27/2019         2018
983  04/10/2019         2018
984  07/11/2019         2018
985  12/07/2019         2018
986  12/03/2019         2018
987  08/08/2020         2018
988  10/02/2019         2018
989  11/21/2019         2018
990  06/16/2019         2018
991  12/25/2019         2018
992  04/22/2019         2018
993  12/11/2019         2018
994  11/16/2019         2018
995  12/27/2019         2018
996  10/16/2019         2018
997  08/20/2019         2018
998  12/07/2019         2018
999  12/18/2019         2018
1000 08/18/2019         2018

### 3.  The `filter()` function

Suppose that we would like to only look at data of dogs of a particular breed.  We can filter the dataset using dplyr's `filter()` function.

`filter( DATAFRAMENAME, CRITERIA )`
+ inputs: the name of the data frame, and a criteria for which rows should be included
+ output: a data frame that only includes the rows that satisfies the given criteria

In what format should the criteria be?
+ An equality or inequality involving column name(s)

**Example**

Filter the `nyc_dogs` data frame to consist only of dogs whose breed is 'Poodle'

In [32]:
head(nyc_dogs)

  AnimalName AnimalGender AnimalBirthMonth BreedName                   Borough
1 KEIKO      F            2010             Siberian Husky              NA
2 PITA       M            2009             Havanese                    NA
3 BAILEY     M            2008             Lhasa Apso                  NA
4 SPANKY     M            2016             Yorkshire Terrier           NA
5 MARX       M            2016             Miniature American Shepherd NA
6 AOIFE      F            2014             Labrador Retriever          NA
  ZipCode LicenseIssuedDate LicenseExpiredDate Extract.Year
1 10003   09/12/2016        10/15/2017         2016
2 11357   04/25/2016        04/18/2017         2017
3 11218   08/06/2017        09/24/2019         2017
4 10467   07/18/2018        05/28/2019         2018
5 10010   06/10/2016        06/10/2017         2016
6 10024   07/02/2018        08/26/2019         2018

In [31]:

filter( nyc_dogs, BreedName == 'Poodle' )

  AnimalName        AnimalGender AnimalBirthMonth BreedName Borough ZipCode
1 NAME NOT PROVIDED F            2017             Poodle    NA      11040
2 DORI              F            2011             Poodle    NA      10011
3 LENNON            M            2013             Poodle    NA      10035
4 TOBY              M            2016             Poodle    NA      10025
5 RODRIGUEZ         M            2017             Poodle    NA      11203
6 LUCA              M            2011             Poodle    NA      10024
7 PEBBLES           F            2015             Poodle    NA      11427
  LicenseIssuedDate LicenseExpiredDate Extract.Year
1 10/02/2017        10/02/2018         2017
2 03/21/2016        11/24/2020         2016
3 08/31/2018        10/16/2019         2018
4 08/03/2018        08/03/2019         2018
5 08/30/2017        08/30/2018         2018
6 10/08/2018        11/18/2023         2018
7 12/02/2017        12/02/2022         2017

In [37]:
filter( nyc_dogs,  AnimalBirthMonth >= 2015 , AnimalGender == 'F' )

    AnimalName        AnimalGender AnimalBirthMonth
1   SASHA             F            2015
2   EVANGELISTA       F            2017
3   NALA              F            2015
4   LEA               F            2017
5   GRACIE            F            2017
6   BALOO             F            2016
7   HARU              F            2015
8   ROSE              F            2017
9   BASIL             F            2015
10  PARIS             F            2015
11  MAIZY             F            2016
12  MOCHI             F            2015
13  MOLLY             F            2015
14  BIBI              F            2016
15  KRISTEE           F            2015
16  BELLA             F            2015
17  WENDY             F            2016
18  LUPITA            F            2018
19  SHIPOO            F            2017
20  NAME NOT PROVIDED F            2017
21  OLIVE             F            2016
22  NAME NOT PROVIDED F            2017
23  PINNY             F            2017
24  DARLA             F            2016
25  CRUMB             F            2015
26  COOKIE            F            2015
27  MIA               F            2017
28  WIGGLE            F            2016
29  ELLA              F            2016
30  MADDIE            F            2015
... ...               ...          ...
89  HARU              F            2015
90  LEICA             F            2017
91  NICOLETTI         F            2017
92  KATANA            F            2017
93  ROMEA             F            2016
94  RU                F            2015
95  NIA               F            2015
96  BRANDY            F            2017
97  ZUKI              F            2016
98  CARAMEL           F            2015
99  MUFFIN            F            2017
100 OREO              F            2015
101 NATALIE           F            2016
102 SASSY             F            2017
103 NAME              F            2017
104 OLLIE             F            2015
105 OLLIE             F            2015
106 ROCKSIE           F            2015
107 ANISTASIA         F            2015
108 MILLIE            F            2017
109 BELLA             F            2015
110 CHER              F            2016
111 BELLA             F            2017
112 GABBIE            F            2015
113 ROBLES            F            2018
114 UNKNOWN           F            2016
115 HERSHEY           F            2015
116 BAMBI             F            2016
117 REYES             F            2018
118 STELLA            F            2016
    BreedName                            Borough ZipCode LicenseIssuedDate
1   Golden Retriever                     NA      10023   09/14/2016
2   Pomeranian Crossbreed                NA      10473   04/03/2017
3   French Bulldog                       NA      10038   01/09/2016
4   Havanese                             NA      10044   12/03/2017
5   Yorkshire Terrier Crossbreed         NA      11101   06/04/2017
6   American Pit Bull Mix / Pit Bull Mix NA      11217   01/29/2017
7   Poodle, Toy                          NA      11354   09/22/2017
8   Unknown                              NA      11418   05/21/2018
9   Unknown                              NA      11207   06/19/2018
10  Cavalier King Charles Spaniel        NA      10023   01/19/2017
11  Schipperkee                          NA      10030   02/01/2018
12  Terrier mix                          NA      11204   12/17/2017
13  Chihuahua                            NA      11221   08/10/2018
14  Schnauzer, Miniature Crossbreed      NA      11377   04/23/2017
15  Shih Tzu                             NA      10472   12/24/2015
16  Dachshund Crossbreed                 NA      11210   12/28/2016
17  Akita                                NA      10075   01/16/2017
18  Maltese                              NA      10025   08/20/2018
19  Shih Tzu Crossbreed                  NA      10457   05/30/2017
20  Labradoodle                          NA      11375   04/29/2017
21  Labrador Retriever Crossbreed        NA      10009   05/03/2018
22  Poodle                               NA      11040   10/02/2017
23  American Pit Bull Mix / Pit Bull Mix NA      11237   07/16/2017
24  Terrier mix                          NA      10040   04/17/2017
25  Yorkshire Terrier                    NA      10040   08/03/2015
26  American Pit Bull Terrier/Pit Bull   NA      10308   04/22/2017
27  Beagle                               NA      11368   08/30/2017
28  Labrador Retriever                   NA      10023   05/22/2017
29  Labrador Retriever Crossbreed        NA      11238   08/17/2018
30  Australian Shepherd                  NA      10014   10/07/2016
... ...                                  ...     ...     ...
89  Welsh Terrier                        NA      11201   03/13/2018
90  Terrier Crossbreed                   NA      10023   07/05/2018
91  Maltese Crossbreed                   NA      11228   07/06/2017
92  American Pit Bull Mix / Pit Bull Mix NA      10025   07/13/2018
93  Schnauzer, Miniature                 NA      10018   05/06/2016
94  Shih Tzu                             NA      10128   10/31/2018
95  Bichon Frise                         NA      10036   09/20/2016
96  Shih Tzu                             NA      11228   06/28/2017
97  Labradoodle                          NA      10010   10/29/2017
98  Shih Tzu                             NA      10037   08/09/2017
99  Shih Tzu                             NA      10465   10/04/2018
100 American Staffordshire Terrier       NA      10035   03/27/2017
101 American Pit Bull Mix / Pit Bull Mix NA      11419   04/18/2017
102 Labrador Retriever Crossbreed        NA      11101   10/27/2017
103 Poodle Crossbreed                    NA      11224   02/04/2018
104 Terrier Crossbreed                   NA      11216   10/15/2018
105 Pomeranian                           NA      10010   11/20/2017
106 Labrador Retriever Crossbreed        NA      11208   07/28/2015
107 Shetland Sheepdog                    NA      11222   01/25/2017
108 Labrador Retriever Crossbreed        NA      11205   05/17/2017
109 Shih Tzu                             NA      10473   06/17/2016
110 Shih Tzu                             NA      11423   05/18/2016
111 Shiba Inu Crossbreed                 NA      11365   10/16/2017
112 Labrador Retriever                   NA      10462   03/07/2016
113 Yorkshire Terrier                    NA      10314   06/16/2018
114 Pomeranian                           NA      10038   09/26/2017
115 Labradoodle                          NA      10024   03/04/2016
116 Shih Tzu                             NA      10302   03/05/2017
117 Pomeranian                           NA      10040   12/25/2018
118 Shih Tzu Crossbreed                  NA      10456   11/28/2016
    LicenseExpiredDate Extract.Year
1   08/16/2017         2016
2   04/03/2018         2017
3   01/09/2017         2016
4   12/03/2018         2017
5   06/04/2018         2017
6   01/29/2018         2017
7   09/22/2018         2018
8   05/21/2019         2018
9   06/19/2019         2018
10  12/15/2017         2017
11  02/01/2019         2018
12  11/20/2018         2017
13  03/30/2019         2018
14  04/23/2018         2018
15  12/24/2016         2016
16  12/28/2017         2017
17  01/16/2018         2017
18  08/20/2019         2018
19  05/30/2018         2017
20  04/29/2018         2017
21  05/03/2021         2018
22  10/02/2018         2017
23  07/16/2018         2017
24  04/17/2019         2017
25  08/03/2016         2016
26  04/22/2022         2017
27  08/30/2018         2018
28  05/22/2019         2018
29  05/30/2019         2018
30  08/31/2017         2016
... ...                ...
89  04/21/2019         2018
90  07/05/2019         2018
91  07/06/2018         2017
92  07/13/2019         2018
93  05/06/2017         2016
94  10/21/2019         2018
95  09/20/2021         2016
96  06/28/2018         2017
97  10/29/2018         2018
98  09/20/2018         2017
99  10/04/2019         2018
100 03/27/2018         2017
101 04/18/2018         2018
102 10/27/2018         2017
103 02/04/2019         2018
104 10/08/2019         2018
105 11/20/2020         2018
106 07/28/2016         2016
107 01/25/2018         2018
108 05/17/2018         2018
109 06/17/2017         2016
110 05/18/2017         2016
111 10/16/2018         2017
112 03/07/2017         2017
113 06/16/2019         2018
114 07/13/2018         2017
115 03/04/2017         2016
116 03/05/2018         2017
117 12/25/2019         2018
118 11/28/2017         2017

In [40]:
filter( nyc_dogs,  AnimalBirthMonth >= 2015 | AnimalGender == 'F' )

    AnimalName  AnimalGender AnimalBirthMonth
1   KEIKO       F            2010
2   SPANKY      M            2016
3   MARX        M            2016
4   AOIFE       F            2014
5   FRANNY      F            2014
6   LOVIE       F            2011
7   CINNAMON    F            2008
8   DUTCHESS    F            2008
9   MOCHA       F            2014
10  KASPER      M            2017
11  KAZE        M            2015
12  CINNAMON    F            2005
13  MIA         F            2013
14  POWDER      M            2016
15  TASHA       F            2006
16  KELLEY      F            2008
17  SAINT       F            2008
18  SASHA       F            2015
19  COOKIE      F            2002
20  LEXI        F            2014
21  PETRINA     F            2004
22  EVANGELISTA F            2017
23  ULTRA       F            2003
24  HARLOW      F            2012
25  MAGGIE      F            2010
26  NALA        F            2015
27  PERLA       F            2005
28  GATSBY      M            2015
29  NELLIE      F            2010
30  LEA         F            2017
... ...         ...          ...
572 KILLIAN     M            2016
573 MAGGIE      F            2007
574 OLIVER      M            2015
575 DOLLAH      F            2007
576 CHER        F            2016
577 ABBEY       F            2013
578 BELLA       F            2017
579 SOFIE       F            2006
580 ZACK        M            2015
581 GABBIE      F            2015
582 ROBLES      F            2018
583 BABY        F            2008
584 UNKNOWN     M            2016
585 TRIXIE      F            2010
586 ALBIE       M            2015
587 UNKNOWN     F            2016
588 KINO        M            2015
589 GUCCI       F            2013
590 HERSHEY     F            2015
591 MAIA        F            2013
592 BOOTZ       M            2017
593 LILY        F            2008
594 BAMBI       F            2016
595 FRILLY      F            2010
596 ANELA       F            2006
597 REYES       F            2018
598 STELLA      F            2016
599 TOTO        M            2017
600 NICO        M            2017
601 ROCKY       M            2015
    BreedName                            Borough ZipCode LicenseIssuedDate
1   Siberian Husky                       NA      10003   09/12/2016
2   Yorkshire Terrier                    NA      10467   07/18/2018
3   Miniature American Shepherd          NA      10010   06/10/2016
4   Labrador Retriever                   NA      10024   07/02/2018
5   German Shepherd Dog                  NA      10011   10/02/2014
6   Shih Tzu                             NA      11229   06/15/2016
7   Yorkshire Terrier                    NA      11379   05/05/2016
8   Siberian Husky                       NA      10314   12/15/2016
9   Unknown                              NA      10009   06/06/2016
10  Poodle, Toy                          NA      11207   10/05/2017
11  American Pit Bull Terrier/Pit Bull   NA      11206   04/30/2017
12  American Pit Bull Mix / Pit Bull Mix NA      11102   12/13/2018
13  Golden Retriever                     NA      11234   05/21/2016
14  Maltipoo                             NA      10473   10/31/2017
15  Labrador Retriever Crossbreed        NA      11357   08/31/2018
16  Wheaton Terrier                      NA      10025   12/12/2017
17  German Shepherd Crossbreed           NA      11201   02/12/2016
18  Golden Retriever                     NA      10023   09/14/2016
19  Shih Tzu                             NA      10314   06/13/2016
20  American Pit Bull Terrier/Pit Bull   NA      10465   02/12/2015
21  Terrier mix                          NA      11226   03/13/2017
22  Pomeranian Crossbreed                NA      10473   04/03/2017
23  Unknown                              NA      11101   05/17/2016
24  German Shepherd Crossbreed           NA      10013   03/03/2018
25  American Pit Bull Terrier/Pit Bull   NA      10471   11/18/2015
26  French Bulldog                       NA      10038   01/09/2016
27  Poodle Crossbreed                    NA      11372   05/21/2017
28  Yorkshire Terrier Crossbreed         NA      11109   08/30/2016
29  Poodle, Toy                          NA      11228   02/20/2018
30  Havanese                             NA      10044   12/03/2017
... ...                                  ...     ...     ...
572 Goldendoodle                         NA      10003   08/21/2017
573 Yorkshire Terrier                    NA      11360   07/19/2018
574 Cavalier King Charles Spaniel        NA      11226   11/19/2017
575 American Pit Bull Mix / Pit Bull Mix NA      10458   06/02/2018
576 Shih Tzu                             NA      11423   05/18/2016
577 Labrador Retriever                   NA      10023   01/27/2015
578 Shiba Inu Crossbreed                 NA      11365   10/16/2017
579 Unknown                              NA      11357   11/10/2016
580 American Pit Bull Mix / Pit Bull Mix NA      11214   08/01/2016
581 Labrador Retriever                   NA      10462   03/07/2016
582 Yorkshire Terrier                    NA      10314   06/16/2018
583 Shih Tzu                             NA      10456   12/06/2018
584 Chihuahua                            NA      10451   06/12/2017
585 Pug                                  NA      10021   10/18/2018
586 Bull Dog, English                    NA      11357   08/11/2015
587 Pomeranian                           NA      10038   09/26/2017
588 Rottweiler                           NA      10026   02/02/2017
589 Dachshund Smooth Coat                NA      10069   01/08/2018
590 Labradoodle                          NA      10024   03/04/2016
591 Dachshund                            NA      10021   04/09/2016
592 Australian Shepherd                  NA      10065   12/03/2018
593 Miniature Pinscher                   NA      11373   05/18/2016
594 Shih Tzu                             NA      10302   03/05/2017
595 Chihuahua                            NA      10455   06/24/2017
596 Labrador Retriever                   NA      10011   11/21/2014
597 Pomeranian                           NA      10040   12/25/2018
598 Shih Tzu Crossbreed                  NA      10456   11/28/2016
599 Maltese                              NA      10016   10/22/2017
600 Golden Retriever                     NA      11204   11/06/2017
601 German Shepherd Crossbreed           NA      11235   10/04/2016
    LicenseExpiredDate Extract.Year
1   10/15/2017         2016
2   05/28/2019         2018
3   06/10/2017         2016
4   08/26/2019         2018
5   10/02/2019         2018
6   06/27/2017         2016
7   07/02/2017         2016
8   01/15/2018         2018
9   07/01/2017         2017
10  10/05/2018         2018
11  04/30/2018         2018
12  12/30/2019         2018
13  04/16/2021         2017
14  10/31/2018         2018
15  09/30/2019         2018
16  01/25/2019         2017
17  03/17/2017         2016
18  08/16/2017         2016
19  06/29/2017         2017
20  02/12/2020         2016
21  03/13/2018         2017
22  04/03/2018         2017
23  06/29/2017         2016
24  04/29/2019         2018
25  01/01/2019         2018
26  01/09/2017         2016
27  05/21/2018         2018
28  08/30/2018         2017
29  01/30/2019         2018
30  12/03/2018         2017
... ...                ...
572 05/09/2018         2018
573 08/17/2019         2018
574 07/01/2018         2017
575 06/02/2019         2018
576 05/18/2017         2016
577 02/26/2019         2016
578 10/16/2018         2017
579 12/06/2017         2016
580 08/01/2021         2016
581 03/07/2017         2017
582 06/16/2019         2018
583 10/08/2019         2018
584 05/09/2018         2018
585 10/18/2019         2018
586 08/11/2016         2016
587 07/13/2018         2017
588 02/02/2018         2018
589 02/14/2019         2018
590 03/04/2017         2016
591 04/09/2018         2016
592 12/03/2019         2018
593 05/06/2017         2016
594 03/05/2018         2017
595 06/24/2018         2017
596 03/04/2019         2017
597 12/25/2019         2018
598 11/28/2017         2017
599 10/22/2018         2018
600 11/06/2018         2017
601 11/14/2021         2016

**Exploration**
1. Filter the `nyc_dogs` data frame to consist only of rows that correspond to dogs
    + who are male
    + who were born in 2010 or after <br><br>

2. How many rows in this dataset correspond to dogs who are male and were born in 2010 or after?

3. How many rows in this dataset correspond to dogs named 'OTIS'?  Do all these rows correspond to different dogs or the same dogs?  How about 'LUCY'?

4. What is the percentage of rows that correspond to female dogs?

In [44]:
dim(nyc_dogs)

filter( nyc_dogs, AnimalBirthMonth >= 2010, AnimalGender == 'M' )

[1] 1000    9

    AnimalName AnimalGender AnimalBirthMonth
1   SPANKY     M            2016
2   MARX       M            2016
3   KASPER     M            2017
4   KAZE       M            2015
5   POWDER     M            2016
6   FORREST    M            2011
7   NELSON     M            2014
8   LUCKY      M            2011
9   GATSBY     M            2015
10  DUDLEY     M            2017
11  JACKO      M            2015
12  UNKNOWN    M            2016
13  OREO       M            2017
14  OLIVER     M            2017
15  ROCCO      M            2012
16  PRUFROCK   M            2012
17  NAME       M            2017
18  MILO       M            2015
19  HENRY      M            2010
20  KILO       M            2014
21  BOSCO      M            2012
22  LOGAN      M            2011
23  MAJOR      M            2018
24  HUDSON     M            2013
25  REMI       M            2016
26  MOJO       M            2015
27  CHICHARITO M            2012
28  BENTLEY    M            2013
29  HENRY      M            2011
30  HENRY      M            2012
... ...        ...          ...
345 GIZMO      M            2011
346 HUDSON     M            2015
347 ORLANDO    M            2016
348 JEFF       M            2013
349 NOT        M            2017
350 UNKNOWN    M            2012
351 RADCLIFFE  M            2010
352 OSCAR      M            2015
353 KILLIAN    M            2016
354 MR.        M            2012
355 ZEUS       M            2011
356 OLIVER     M            2015
357 SNOOPY     M            2010
358 SNACKS     M            2014
359 SKIPPY     M            2011
360 GUS        M            2012
361 ZACK       M            2015
362 UNKNOWN    M            2016
363 SAMSON     M            2012
364 BLANTON    M            2010
365 ROCKY      M            2011
366 ALBIE      M            2015
367 KINO       M            2015
368 BOOTZ      M            2017
369 BAXTER     M            2012
370 OTIS       M            2014
371 TOTO       M            2017
372 NICO       M            2017
373 ROCKY      M            2015
374 LEO        M            2014
    BreedName                            Borough ZipCode LicenseIssuedDate
1   Yorkshire Terrier                    NA      10467   07/18/2018
2   Miniature American Shepherd          NA      10010   06/10/2016
3   Poodle, Toy                          NA      11207   10/05/2017
4   American Pit Bull Terrier/Pit Bull   NA      11206   04/30/2017
5   Maltipoo                             NA      10473   10/31/2017
6   Unknown                              NA      10075   05/12/2018
7   Poodle Crossbreed                    NA      10024   11/18/2015
8   German Shepherd Crossbreed           NA      11214   12/27/2017
9   Yorkshire Terrier Crossbreed         NA      11109   08/30/2016
10  Dachshund, Long Haired Miniature     NA      10075   11/20/2017
11  Pug                                  NA      10036   07/11/2017
12  Poodle Crossbreed                    NA      11234   12/11/2017
13  Cotton De Tulear                     NA      10457   06/17/2017
14  Bull Dog, English                    NA      11216   07/25/2018
15  Australian Shepherd                  NA      10309   10/25/2016
16  Australian Cattle Dog                NA      10044   05/11/2015
17  Bichon Frise Crossbreed              NA      10027   12/10/2017
18  Labrador Retriever Crossbreed        NA      11234   10/18/2015
19  Dachshund, Long Haired Miniature     NA      11106   10/12/2015
20  American Pit Bull Mix / Pit Bull Mix NA      10009   01/20/2016
21  Greyhound                            NA      10014   06/08/2015
22  Siberian Husky                       NA      11385   03/04/2017
23  German Shepherd Dog                  NA      10036   10/16/2018
24  Unknown                              NA      10019   11/16/2016
25  Doberman Pinscher                    NA      10469   04/12/2017
26  Havanese                             NA      94117   08/28/2017
27  Chihuahua                            NA      10075   04/07/2017
28  Yorkshire Terrier Crossbreed         NA      11233   02/04/2016
29  Beagle                               NA      11375   08/09/2016
30  Scottish Terrier                     NA      10012   03/15/2016
... ...                                  ...     ...     ...
345 Maltese                              NA      10471   10/17/2016
346 French Bulldog                       NA      10016   08/10/2018
347 Chihuahua Crossbreed                 NA      11238   08/02/2016
348 Maltese                              NA      10009   06/19/2017
349 Pomeranian Crossbreed                NA      11373   08/07/2017
350 Cocker Spaniel                       NA      10011   04/24/2018
351 Unknown                              NA      10031   11/30/2016
352 Norwich Terrier                      NA      10069   09/11/2016
353 Goldendoodle                         NA      10003   08/21/2017
354 Bull Dog, English                    NA      10030   11/23/2015
355 Unknown                              NA      10304   05/06/2016
356 Cavalier King Charles Spaniel        NA      11226   11/19/2017
357 Unknown                              NA      11211   09/01/2017
358 Saint Bernard                        NA      10014   09/06/2016
359 Maltese                              NA      11224   03/14/2016
360 Boston Terrier                       NA      11373   12/09/2016
361 American Pit Bull Mix / Pit Bull Mix NA      11214   08/01/2016
362 Chihuahua                            NA      10451   06/12/2017
363 Poodle, Toy                          NA      10312   12/10/2018
364 Golden Retriever                     NA      10036   06/16/2017
365 Jack Russell Terrier                 NA      10032   11/09/2016
366 Bull Dog, English                    NA      11357   08/11/2015
367 Rottweiler                           NA      10026   02/02/2017
368 Australian Shepherd                  NA      10065   12/03/2018
369 Shih Tzu                             NA      11368   05/30/2017
370 Pointer                              NA      11361   10/11/2017
371 Maltese                              NA      10016   10/22/2017
372 Golden Retriever                     NA      11204   11/06/2017
373 German Shepherd Crossbreed           NA      11235   10/04/2016
374 Shih Tzu                             NA      11223   09/10/2016
    LicenseExpiredDate Extract.Year
1   05/28/2019         2018
2   06/10/2017         2016
3   10/05/2018         2018
4   04/30/2018         2018
5   10/31/2018         2018
6   04/26/2019         2018
7   11/18/2020         2017
8   01/25/2019         2018
9   08/30/2018         2017
10  11/20/2018         2018
11  04/30/2018         2017
12  12/11/2018         2018
13  06/17/2018         2018
14  09/18/2019         2018
15  12/18/2017         2016
16  05/11/2017         2017
17  12/10/2018         2017
18  10/18/2020         2016
19  10/12/2018         2017
20  02/19/2021         2017
21  07/11/2020         2017
22  03/29/2020         2017
23  10/16/2019         2018
24  12/27/2017         2017
25  04/12/2022         2018
26  10/24/2018         2018
27  04/07/2022         2018
28  02/04/2017         2016
29  09/29/2017         2016
30  11/03/2016         2016
... ...                ...
345 10/17/2017         2016
346 08/10/2019         2018
347 08/02/2017         2016
348 06/26/2018         2018
349 08/07/2018         2018
350 04/24/2019         2018
351 01/13/2018         2016
352 11/04/2018         2017
353 05/09/2018         2018
354 03/14/2016         2016
355 12/22/2020         2016
356 07/01/2018         2017
357 10/18/2018         2017
358 09/06/2018         2016
359 01/10/2019         2017
360 12/17/2017         2017
361 08/01/2021         2016
362 05/09/2018         2018
363 12/28/2019         2018
364 07/19/2018         2017
365 11/09/2017         2017
366 08/11/2016         2016
367 02/02/2018         2018
368 12/03/2019         2018
369 05/30/2019         2017
370 12/01/2018         2017
371 10/22/2018         2018
372 11/06/2018         2017
373 11/14/2021         2016
374 09/26/2017         2016

In [45]:
dim( filter( nyc_dogs, AnimalBirthMonth >= 2010, AnimalGender == 'M' ) )

[1] 374   9

In [49]:
male_2010 <-  filter( nyc_dogs, AnimalBirthMonth >= 2010, AnimalGender == 'M' )

dim( male_2010 )

nrow( male_2010 )

length( male_2010 )

ncol( male_2010 )

[1] 374   9

[1] 374

[1] 9

[1] 9

### 4. `group_by()` and `summarize()`

The two functions above are usually used together when we want to get a summary information about a group of rows.

**Example**

For example, suppose that we would like to group the rows based on the dog's gender and count how many rows there are for each group.

We could do that using the `filter()` function above and the `dim()` function.

In [52]:
female <- filter( nyc_dogs, AnimalGender == 'F')
nrow(female)

male <- filter( nyc_dogs, AnimalGender == 'M')
nrow(male)

[1] 448

[1] 552

Here is a second way we can do it:
+ First group the rows by gender using `group_by()`
+ Count how many rows there are for each group using `summarize()`

In [57]:
nyc_dogs_byGender <- group_by( nyc_dogs, AnimalGender )

summarytable <- summarize(  nyc_dogs_byGender ,   Count = n()     )

summarytable

  AnimalGender Count
1 F            448
2 M            552

`group_by( DATAFRAMENAME, COLUMNNAME)`
+ inputs: a data frame, along with the name of a categorical variable/column
+ output: a grouped data frame --- this data frame looks exactly the same as the input data frame (but internally, R has divide up this data based on the given categorical variable)

`summarize( DATAFRAMENAME, NEWSUMMARYCOLUMNNAME = AN AGGREGATE FUNCTION )`
+ inputs: a grouped data frame, along with what information we want summarized about each particular group
+ output: a summary data frame

In [59]:
nyc_dogs_byGender <- group_by( nyc_dogs, AnimalGender )
summarytable2 <- summarize(  nyc_dogs_byGender ,   XYZ = mean(AnimalBirthMonth)    )
summarytable2

  AnimalGender XYZ
1 F            2010.893
2 M            2011.130

+ Some of the aggregate function that we can use:
    + `n()`: to count the number of rows within each group
    + `mean( COLUMNNAME )`: to compute the average of `COLUMNNAME` within each group
    + `sum( COLUMNNAME )`: to compute the sum of `COLUMNNAME` within each group

**Example**

Group the rows based on the dog's birth year and count how many rows there are for each group.

In [62]:
nyc_dogs_byYear <- group_by( nyc_dogs, AnimalBirthMonth)

summarytable3 <- summarize( nyc_dogs_byYear, Number_of_rows = n() )
summarytable3

   AnimalBirthMonth Number_of_rows
1  1998               3
2  1999               4
3  2000               6
4  2001              14
5  2002              17
6  2003              19
7  2004              32
8  2005              37
9  2006              57
10 2007              42
11 2008              48
12 2009              58
13 2010              77
14 2011              71
15 2012              77
16 2013              76
17 2014              91
18 2015             100
19 2016              88
20 2017              65
21 2018              18

**Exploration**

1. Group the rows based on the dogs' zipcode and count how many rows there are for each group
2. Group the rows based on the dogs' zipcode and by gender; count how many rows there are for each group
3. Suppose we assume that each dog appears only once in this dataset, and that each dog is still alive and well today.  Find the average age within each zipcode